{
  "env": {
    "react-native/react-native": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["airbnb", "airbnb/hooks", "plugin:react-native/all", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/react-in-jsx-scope": 0,
    "react/style-prop-object": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": ["warn"],
    "import/no-unresolved": 0,
    "global-require": 0,
    "import/prefer-default-export": 0,
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "react/require-default-props": 0,
    "import/order": 0
  }
}
